---
import Breadcrumbs from "@/components/breadcrumbs.astro";
import RaidsTable from "@/components/raids-table.astro";
import Layout from "@/layouts/main.astro";
import { getRaidAppUrl } from "@/utils/data-utils";

import { raids } from "@/store/raids";
import { embargoedRaids } from "@/store/embargoed-raids";
const { prefix } = Astro.params;

export async function getStaticPaths() {
  const prefixes = new Set<string>();

  for (const el of raids) {
    const [_, p] = new URL(el.identifier.id).pathname.split("/");
    prefixes.add(p);
  }
  for (const el of embargoedRaids) {
    const [p] = el.handle.split("/");
    prefixes.add(p);
  }

  return Array.from(prefixes).map((p) => ({ params: { prefix: p }, props: { prefix: p } }));
}

const tableRaids = [
  ...raids
    .filter((r) => {
      const [_, p] = new URL(r.identifier.id).pathname.split("/");
      return p === prefix;
    })
    .map((r) => {
      const [_, p, suffix] = new URL(r.identifier.id).pathname.split("/");
      return { handle: `${p}/${suffix}`, title: r.title?.map((t) => t.text).join("; ") ?? "", isEmbargoed: false };
    }),
  ...embargoedRaids
    .filter((er) => er.handle.split("/")[0] === prefix)
    .map((er) => ({ handle: er.handle, title: "", isEmbargoed: true })),
];

const raidAppUrl = getRaidAppUrl();
---

<Layout title="main">
  <div class="overflow-hidden rounded-md bg-white border border-gray-300">
    <Breadcrumbs
      elements={[
        { to: "/prefixes", label: `Prefixes` },
        { to: "/raids", label: `Prefix ${prefix}` },
      ]}
    />
    <div class="p-4 sm:p-6 lg:p-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold leading-6 text-gray-900">
            RAiDs for prefix {prefix}
          </h1>
          <p class="mt-2 text-sm text-gray-700">
            A list of all the RAiDs for prefix {prefix}
          </p>
        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
          <a
            href={`${raidAppUrl}/raids/new`}
            target="_blank"
            class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
            >Add RAiD</a
          >
        </div>
      </div>
      <RaidsTable raids={tableRaids} />
    </div>
  </div>
</Layout>
